@font-face {
    font-family: Leotaro Free;
    src: url("Leotaro-Free.otf") format("opentype");
}
.head {
    height: 850px;
    background: url('assets/img1.png');
    background-size: cover;
    background-position: center center;
}
.headShaddow {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    width: 100%;
    height: 450px;
    position: absolute;
}
.headShaddow--reversed {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0,0,0,0) 100%);
    height: 200px;
    bottom: 0;
}
.mainMenu {
    position: relative;
}
.mainMenu ul {
    list-style: none;
    margin-top: 60px;
}
.mainMenu ul li {
    display: inline-block;
}
.mainMenu ul li a {
    font-size: 14px;
    color: #E5E1D5;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.mainMenu ul li a.active {
    position: relative;
}
.mainMenu ul li a.active::after {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #E0C389;
    position: absolute;
    border-radius: 100%;
    left: 48%;
    bottom: -8px;
}
.mainMenu ul li a.focused {
    border-bottom: 2px solid #E0C389;
    color: #E0C389
}
.mainMenu ul li a.focused:hover {
    transition: all 0.2s ease;
    padding-bottom: 2px;
}
.mainMenu__left li {
    padding-right: 2.5vw;
}
.mainMenu__right li {
    padding-left: 2.5vw;
}
.mainMenu__left li:last-child,
.mainMenu__right li:first-child {
    padding: 0;
}
.mainMenu__logo {
    margin-top: 30px;
}
.mainMenu__logo img {
    display: block;
    margin: 0 auto;
}
.mainTitle {
    margin-top: 150px;
    position: relative;
    z-index: 2;
}
.mainTitle h1 {
    font-family: 'Leotaro Free', sans-serif;
    color: #FFFFFF;
    font-size: 60px;
    margin: 0;
}
.mainTitle h1 span {
    color: #E1BC78;
}
.mainTitle p {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-size:16px;
    margin: 0;
}
.search {
    background-color: #ffffffdc;
    border-radius: 0 20px 20px 20px;
    padding: 27px;
}
.search--rounded {
    border-radius: 20px;
}
.search__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0;
}
.search__label {
    overflow: hidden; 
    height: 30px;    
    position: relative;
    width: 100%;
    border: none;
}
.search__select:focus {
    border: none;
    outline: none;
}
.search__select {
    background-color: transparent;
    border: none;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #8F90A6;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.search__label::after {
    content: "\f107";
    font-family: FontAwesome;
    color: #8F90A6;
    padding: 12px 8px;
    position: absolute;
    right: 10px;
    top: -8px;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;      
    pointer-events: none;
    box-sizing: border-box;   
}
.search__label--location::after {
    content: "\f3c5";
    font-weight: 300;
    font-size: 14px;
}
#search {
    margin-top: 130px;
}
#search ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#search ul li {
    width: 100px;
    display: inline-block;
}
#search ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    line-height: 40px;
    padding: 0 30px;
}
#search ul li.ui-state-active {
    background-color: #ffffffdc;
    border-radius: 20px 20px 0 0;
}
#search ul li.ui-state-active a {
    color: #000000;
    position: relative;
}

#search ul li.ui-state-active a::after {
    content: '';
    background-color: #8F90A6;
    width: 70px;
    height: 1px;
    margin-left: 15px;
    display: block;
    position: absolute;
    bottom: -10px;
}
.search__button {
    width: 54px;
    height: 54px;
    border: 0;
    color: #FFFFFF;
    background-color: #E1BC78;
    border-radius: 10px;
}
.section {
    padding: 70px 0;
    overflow-x: hidden;
}
.section--no-padding {
    padding-top: 0;
    padding-bottom: 0;
}
.section--center {
    text-align: center;
}
.section__title {
    font-family: 'Leotaro Free', sans-serif;
    font-size: 50px;
    color: #888374;
    margin-bottom: 40px;
}
.section__text {
    color: #888374;
    font-size: 16px;
    margin-bottom: 10px;
}
.section__text--uppercase {
    text-transform: uppercase;
}
.section__text--airy {
    font-size: 20px;
    line-height: 36px;
}
.btn1 {
    font-family: 'Poppins', sans-serif;
    color: #888374;
    border: 1px solid #888374;
    background: transparent;
    border-radius: 15px;
    font-size: 14px;
    line-height: 36px;
    height: 44px;
    width: 170px;
}
.btn1:hover {
    color: #FFFFFF;
    background: #888374;
}
.btn1 i {
    font-size: 16px;
    margin-left: 5px;
}
.section__image {
    background-size: cover;
    background-position: center center;
}
.section--gray {
    background: #F3F3F3;
}
.btn1--naked {
    border: none;
}
.btn1--naked:hover {
    color: #888374;
    background: transparent;
}
.section__content {
    padding: 6vw;
}
.centerModeSlide {
    max-width: 1040px;
}
.centerModeSlider {
    height: 515px;
    overflow: hidden;
    padding: 15px 0;
}
.centerModeSlide__image {
    margin: 0 10px;
    height: 70%;
    margin-top: 10%;
    transition: all .5s ease-out;
    background-size: cover;
    background-position: center center;
    border: 5px solid white;
    border-radius: 5px;
    filter: drop-shadow(0px 5px 5px #00000038);
}
@media (min-width: 1440px) {
    .centerModeSlide__image {
        height: 100%;
        margin-top: 0;
    }
}
.centerModeSlide.slick-current .centerModeSlide__image {
    height: 100%;
    margin-top: 0;
}
.centerModeSlider .slick-list {
    overflow: visible;
}
.centerModeSlide__text {
    position: absolute;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    bottom: 30px;
    left: 30px;
    text-align: left;
}
.centerModeSlide__price {
    color: #FFF;
    font-size: 24px;
    margin: 0;
}
.centerModeSlide__location {
    color: #fffbfb80;
    font-size: 16px;
    margin: 0;
}
.article {
    width: 100%;
    border: 1px solid #DEDCDA;
    padding: 10px;
}
.article__image {
    height: 260px;
    background-size: cover;
    background-position: center center;
}
.article__title {
    font-family: 'Poppins', sans-serif;
    color: #1F2744;
    font-size: 24px;
    line-height: 32px;
}
.article__location {
    font-size: 16px;
    color: #A6A6A6;
    font-weight: 100;
}
.article__text {
    font-size: 14px;
    color: #A6A6A6;
    font-weight: 100;
}
.article__price {
    font-family: 'Poppins', sans-serif;
    color: #888374;
    font-size: 24px;
}
.article__wishlist {
    float: right;
    border: none;
    background: transparent;
    margin-top: 8px;
    color: #888374;
}
.btn2 {
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #888374;
    color: #888374;
    width: 380px;
    height: 40px;
}
.btn2:hover {
    background-color: #E5E1D5;
    border: 1px solid #E5E1D5;
}
.btn2--reversed {
    background-color: #E5E1D5;
    border: 1px solid #E5E1D5;
}
.btn2--reversed:hover {
    background-color: #FFF;
    border: 1px solid #888374;
    color: #888374;
}
.btn2--dark {
    background-color: #888374;
    border: 1px solid #888374;
    color: #FFFFFF;
}
.btn2--dark:hover {
    background-color: transparent;
    border: 1px solid #888374;
    color: #888374;
}
.full-width {
    width: 100%;
}
.article__button {
    width: 100%;
}
.article__details {
    border: 1px solid #DEDCDA;
    border-radius: 5px;
    font-size: 14px;
}
.article__details span {
    display: inline-block;
    width: 32%;
    line-height: 35px;
    text-align: center;
    color: #888374;
}
.article__bath {
    border-left: 1px solid #DEDCDA;
    border-right: 1px solid #DEDCDA;
}
.section__box {
    text-align: left;
    background-color: #F5F5F5;
    border-radius: 65px;
    /* this might be canceled on mobile */
    margin-left: 0;
    margin-right: 0;
}
.section__box > div:first-child {
    border-right: 1px solid #888374;
}
.section__box-content {
    padding-left: 40px;
    color: #888374;
}
.section__box-title {
    font-family: 'Leotaro Free', sans-serif;
}
.section__box--square {
    border: 1px solid #dedcda;
    border-radius: 0;
    padding: 10px;
    background: transparent;
}
.section__box > div:first-child {
    border-right: none;
}
.section__box--square .section__content {
    background-color: #F4F4F4;
    padding: 50px 100px;
}
.section__box--square .section__title {
    font-size: 40px;
}
.section__table tr svg,
.section__table tr p {
    display: inline-block;
}
.section__table {
    color: #888374;
}
.section__table tr {
    border-bottom: 1px solid #888374;
    height: 110px;
}
.section__table tr:hover {
    background-color: #F4F4F4;
}
.section__table tr:last-child {
    border-bottom: none;
}
.section__table tr p {
    width: 75%;
}
.section__table tr svg {
    width: 15%;
}
.articleInfo {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.articleInfo__category {
    color: black;
    text-decoration: none;
    background: #E5E1D5;
    padding: 5px 7px;
    border-radius: 1px;
    margin-right: 10px;
}
.articleInfo__readTime {
    color: #888374;
}
.article__content {
    background: #f4f4f4;
    padding: 25px;
}
.article--blog .article__title {
    font-family: 'Leotaro Free', sans-serif;
    color: #888374;
    font-size: 24px;
}
.btn2--small {
    width: 180px;
}
.footer__form {
    background-color: #E5E1D5;
    padding-top: 130px;
    padding-bottom: 150px;
}
.footer__form--override {
    padding-top: 250px;
    margin-top: -150px;
}
.footer__info {
    color: #88837460;
    font-size: 32px;
    margin: 0;
}
.footer__form input,
.footer__form select {
    background: transparent;
    color: #888374;
    border: none;
    border-bottom: 1px solid #888374;
    display: block;
    width: 150px;
    margin-bottom: 50px;
}
.footer__menu {
    color: #FFF;
    background-color: #888374;
    padding-top: 130px;
    padding-bottom: 20px;
    border-bottom: 2px solid #fffbfb30;
}
.footer__menu ul {
    list-style: none;
    margin-top: 60px;
    margin: 0;
    padding: 0;
}
.footer__menu ul li {
    display: block;
}
.footer__column h6 {
    font-size: 24px;
}
.footer__column li {
    margin-bottom: 10px;
    color: #ffffff80;
}
.footer__column li a {
    font-size: 16px;
    color: #ffffff80;
    text-decoration: none;
}
.footer__column select {
    background: transparent;
    border: none;
    color: #ffffff80;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 150px;
    margin-left: -4px;
}
.footer__menu--copy {
    text-align: center;
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 40px;
    color: #ffffff80;
}
.btn1, .btn2 {
    max-width: 100%;
}

@media (max-width: 1200px) {
    .mainMenu__left li {
        padding-right: 1vw;
    }
    .mainMenu__right li {
        padding-left: 1vw;
    }
}
@media (max-width: 991px) {
    .mainMenu__logo img {
        max-width: 100%;
    }
    .mainMenu ul {
        padding: 0;
    }
    .mainMenu__left {
        text-align: right;
    }
    .mainMenu__right li {
        padding-left: 9px;
    }
    .mainMenu__logo {
        margin-top: 55px;
    }
    .search__button {
        max-width: 100%;
        float: right;
    }
    .article__details {
        font-size: 12px;
    }
    .section__title {
        font-size: 40px;
    }
    .section__table tr p {
        margin-bottom: 0;
    }
    .section__table tr svg {
        margin-top: -23px;
    }
    .section__box--square .section__content {
        padding: 6vw;
    }
}